table {
    width: 100%;
    border: 1px solid #304562;
}

th {
    text-align: left;
    background-color: #1f2d40;
    padding: 0;

    > div {
        height: 100%;
        padding: 0.5rem 1rem;
        gap: 0.75rem;
    }

    .pi {
        opacity: 0.7;
        height: 1em;
        line-height: 1;

        &.pi-sort-amount-up-alt,
        &.pi-sort-amount-down {
            opacity: 1;
        }
    }
}

th,
td {
    border-bottom: 1px solid #304562;
}

td {
    padding: 1rem;
}

th > div {
    min-width: 100px;
    padding-right: 0.5rem;
}

a {
    color: white;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 0;

    table {
        min-width: 100%;
        white-space: nowrap;

        th, td {
            padding: 0.75rem;
            text-align: left;

            @media (max-width: 1150px) {
                padding: 0.5rem;
            }
        }
    }
}

.refresh-button {
  display: grid;
  place-items: center;

  > span:first-child {
    visibility: hidden;
    grid-area: 1 / 1;
  }

  > span:last-child {
    grid-area: 1 / 1;
  }
}
