<div class="grid">
    <div class="col-12 lg:col-6">
        <div class="card">
            <h2>Overview</h2>
            <table *ngIf="info$ | async as info">
                <tr>
                    <td>Model:</td>
                    <td>{{info.ASICModel}}</td>
                </tr>
                <tr>
                    <td>Uptime:</td>
                    <td>{{info.uptimeSeconds | dateAgo}}</td>
                </tr>
                <tr>
                    <td>Wi-Fi Status:</td>
                    <td>{{info.wifiStatus}}</td>
                </tr>
                <tr>
                    <td>MAC Address:</td>
                    <td>{{info.macAddr}}</td>
                </tr>
                <tr>
                    <td>Free Heap Memory:</td>
                    <td>{{info.freeHeap}}</td>
                </tr>
                <tr>
                    <td>Version:</td>
                    <td>{{info.version}}</td>
                </tr>
                <tr>
                    <td>ESP-IDF Version:</td>
                    <td>{{info.idfVersion}}</td>
                </tr>
                <tr>
                    <td>Board Version:</td>
                    <td>{{info.boardVersion}}</td>
                </tr>
            </table>
        </div>

    </div>

    <div class="col-12">
        <div class="card">
            <div class="flex flex-wrap gap-3 align-items-center">
                <h2 class="mb-0" [ngClass]="{'w-full sm:w-auto': showLogs}">
                    Realtime Logs
                </h2>

                <button pButton (click)="toggleLogs()" class="btn btn-secondary" [ngClass]="{'ml-auto sm:ml-0': !showLogs}">
                    {{showLogs ? 'Hide': 'Show'}} Logs
                </button>

                <button pButton class="btn btn-secondary" (click)="stopScroll = !stopScroll" *ngIf="showLogs">
                    {{stopScroll ? 'Start' : 'Stop'}} Scrolling
                </button>

                <button pButton class="btn btn--icon ml-auto"
                    (click)="isExpanded = !isExpanded"
                    pTooltip="Maximize Logs"
                    tooltipPosition="left"
                    *ngIf="showLogs"
                >
                    <i class="pi pi-window-maximize"></i>
                </button>
            </div>

            <div *ngIf="showLogs" id="logs" #scrollContainer [ngClass]="{'is-expanded': isExpanded, 'mt-4': !isExpanded}">
                <div *ngFor="let log of logs" [ngClass]="log.className">₿ {{log.text | ANSI}}</div>
                <button pButton class="btn btn--icon absolute top-0 right-0"
                    (click)="isExpanded = !isExpanded"
                    pTooltip="Minimize Logs"
                    tooltipPosition="left"
                >
                    <i class="pi pi-window-minimize"></i>
                </button>
            </div>
        </div>
    </div>
</div>
