<div class="grid">
    <div class="col-12">
        <div class="card">
            <ng-container *ngIf="form != null">
                <form [formGroup]="form">
                    <div class="flex flex-wrap gap-3 align-items-center">
                        <h2 class="mb-0" [ngClass]="{'w-full sm:w-auto': showLogs}">
                            Realtime Logs
                        </h2>

                        <button pButton (click)="toggleLogs()" class="btn btn-secondary" [ngClass]="{'ml-auto sm:ml-0': !showLogs}">
                            {{showLogs ? 'Hide': 'Show'}} Logs
                        </button>

                        <button pButton class="btn btn-secondary" (click)="stopScroll = !stopScroll" *ngIf="showLogs">
                            {{stopScroll ? 'Start' : 'Stop'}} Scrolling
                        </button>

                        <button pButton class="btn btn-secondary" (click)="clearLogs()" *ngIf="showLogs">
                            Clear Logs
                        </button>

                        <input pInputText type="text" autocomplete="off" class="ml-auto" *ngIf="showLogs"
                            placeholder="Case-sensitive filter" id="filter" formControlName="filter"
                        />

                        <p-button
                            icon="pi pi-window-maximize"
                            pp-button
                            (click)="isExpanded = !isExpanded"
                            class="ml-auto"
                            pTooltip="Maximize Logs"
                            tooltipPosition="left"
                            *ngIf="showLogs">
                        </p-button>
                    </div>

                    <div *ngIf="showLogs" id="logs" #scrollContainer [ngClass]="{'is-expanded': isExpanded, 'mt-4': !isExpanded}">
                        <div *ngFor="let log of logs" [ngClass]="log.className">₿ {{log.text | ANSI}}</div>

                        <div class="fixed top-0 right-0 flex gap-2 p-2 md:mr-4">
                            <p-button
                                icon="pi pi-{{stopScroll ? 'play' : 'pause'}}-circle"
                                pp-button
                                (click)="stopScroll = !stopScroll"
                                pTooltip="{{stopScroll ? 'Start' : 'Stop'}} Scrolling"
                                tooltipPosition="left">
                            </p-button>

                            <p-button
                                icon="pi pi-window-minimize"
                                pp-button
                                (click)="isExpanded = false"
                                pTooltip="Minimize Logs"
                                tooltipPosition="left">
                            </p-button>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
    </div>
</div>
