input[type="text"],
input[type="number"],
input[type="password"],
input[type="range"] {
    min-width: 250px;
    max-width: 90%;
}

select {
    min-width: 268px;
    max-width: 90%;
}

.restart {
    margin-bottom: 1.5rem;

}

@media only screen and (min-width:900px) {

    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="range"] {
        min-width: 500px
    }

    select {
        min-width: 518px
    }
}

a {
    color: white;
}

.modal {
    position: fixed;
    max-height: 80dvh;
    width: 90dvw;
    z-index: 999;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    overflow-y: auto;

    @media (min-width: 768px) {
        width: 70dvw;
    }

    @media (min-width: 1024px) {
        width: 50dvw;
    }

    &-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 9;
    }

    .close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
}
